@charset "utf-8";

* {
  margin: 0px;
  padding: 0px;
}

ol,
ul,
li {
  list-style: none;
}

body {
  font-family: '맑은고딕', arial, sans-serif;
  font-size: 14px;
  color: #333;

}

nav ul {
  display: flex;
  justify-content: space-around;
  background: rgb(116, 150, 182);

}

nav ul li {
  padding: 10px 10px;
}

nav ul li a {
  color: #fff;
  font-weight: bold;

}

nav ul li:hover {
  background: rgb(79, 105, 129);


}

nav ul li a:hover {
  text-decoration: none;
}

a {
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* 메인서식 */
.main_form {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.main_form form {
  width: 500px;
}

.main_form form p {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
}

.main_form form p input {
  width: 400px;
  height: 30px;
}

.main_form form p label {
  font-weight: bold;
}

.btn {
  justify-content: right !important;
}

.btn button {
  background: rgb(233, 89, 89);
  border: none;
  color: #fff;
  padding: 3px 5px;
}

/* goods서식 */
h1 {
  padding: 10px 0px;
}

h2 {
  color: rgb(84, 84, 216);
  line-height: 60px;
  text-align: center;
}

.data_list {
  margin: 0 auto;
  width: 700px;
  border-collapse: collapse;
  border: 1px solid #ccc;
  text-align: center;
}

.data_list th {
  background: rgb(201, 115, 158);
  color: #fff;
}

.data_list th,
.data_list td {
  border: 1px solid #ccc;
  line-height: 40px;
}

/* 버튼 그룹 */
.btn_group {
  margin: 0 auto;
  width: 700px;
  padding: 10px 0px;
  text-align: right;
}

.btn_group button {
  padding: 3px 5px;
  color: #fff;
  background: rgb(204, 121, 204);
  border-radius: 3px;
}

.btn {
  padding: 3px 5px;
  margin: 10px 5px;
  background: rgb(238, 118, 118);
  color: #fff;
  border: none;
}

.update_btn {
  background: rgb(171, 201, 63);
}

button {
  border: none;
}

/* 과일정보테이블 서식 */
.data_list2 {
  margin: 0 auto;
  width: 700px;
  border-collapse: collapse;
}

.data_list2 thead {
  background: rgb(106, 196, 89);
  color: #fff;
}

.data_list2 th,
.data_list2 td {
  border: 1px solid #ccc;
  line-height: 30px;
  text-align: center;
}

.data_list2 th:first-child {
  width: 10%;
}

.data_list2 th:nth-child(2) {
  width: 20%;
}

.data_list2 th:nth-child(3) {
  width: 15%;
}

.data_list2 th:nth-child(4) {
  width: 17.5%;
}

.data_list2 th:nth-child(5) {
  width: 17.5%;
}

.data_list2 th:nth-child(6) {
  width: 20%;
}

/* 문의하기 */
.question {
  width: 100%;
  background: rgb(118, 187, 118);
}

.question_form {
  width: 1200px;
}

.input_box {
  display: inline;
}

/* 로그인폼 서식 */
.login_form {}

.login_form form,
.join_form form {
  width: 800px;
  text-align: center;
}

.login_form label,
.join_form label {
  display: none;
}

.login_form input,
.join_form input {
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 5px;
  border: 1px solid #ccc;
}

.login_form p a {
  font-size: 12px;
}

.login_form p span {
  margin: 0 5px;
  color: #ccc;
  font-size: 18px;
}

.login_form input[type="submit"],
.join_form button {
  width: 310px;
  height: 40px;
  border: none;
  background: #e48d54;
  color: #fff;
}

/* 푸터 */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 15px 0px;
}